.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-text);
  margin-top: 4rem;
}

.left-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.profile-header > img {
  object-fit: cover;
  min-width: 10vw;
  max-width: 70vw;
}

.profile-header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header-text > h1 {
  font-family: var(--font-title);
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 1rem;
}

.username-followers > p {
  color: var(--text-gray-color);
  font-size: 0.8rem;
}

.username-followers > button {
  margin-left: auto;
}

.separation {
  border: none;
  height: 1px;
  background-color: var(--text-gray-color);
  width: 85%;
  align-self: center;
}
.separation2 {
  border: none;
  height: 1px;
  background-color: var(--text-gray-color);
  width: 85%;
  align-self: center;
}

.biography {
  text-align: left;
  width: 85%;
  padding-top: 1vw;
  margin-bottom: 4vw;
}

.biography h3 {
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--text-gray-color);
  font-family: var(--font-title);
}

.biography p {
  font-size: 14px;
  line-height: 1.5;
}

.bio {
  overflow: hidden;
  max-height: 100vw;
  transition: max-height 0.35s ease-in-out;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-clamp: 2;
}

.bio.expanded {
  max-height: 100vw;
  -webkit-line-clamp: none;
  line-clamp: none;
}

.bio.normal {
  max-height: 10vw;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.read-more {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  color: var(--font-color);
  border: none;
  cursor: pointer;
  transition: var(--background-color) 0.35s ease, var(--background-color) 0.35s
    ease;
  padding: 1.4vw;
  margin-bottom: 1vw;
}

.links {
  margin-top: 4vw;
}

.list > li > a {
  color: var(--font-color);
  text-decoration: none;
}

.arrow {
  display: inline-block;
  transition: transform 0.35s ease-in-out;
  margin-right: 2vw;
}

.left {
  transform: rotate(-180deg);
}

.list > .svg-portfolio {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list > .svg-website {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order-choice {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 6vw;
  padding-top: 4vw;
}

.order-choice > button {
  cursor: pointer;
  background: none;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: var(--font-text);
}

.order-choice > button.active {
  text-decoration: underline;
  font-weight: bold;
  color: var(--font-color);
  font-family: var(--font-text);
}

.profile-gallery {
  column-count: 2;
  margin: 5vw;
  column-gap: 1vw;
  row-gap: 2vw;
}

.profile-gallery > .profile-item > img {
  width: 100%;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  padding: 4vw;
  background-color: #f9f9f9;
  border-radius: 1vw;
  box-shadow: 0 0.4vw 1vw rgba(0, 0, 0, 0.1);
  width: 90vw;
}

.edit-form input,
.edit-form textarea {
  padding: 2vw;
  font-size: 3.5vw;
  border: 0.2vw solid #ccc;
  border-radius: 0.6vw;
  background-color: #fff;
  width: 100%;
  transition: border-color 0.3s ease;
}

.edit-form textarea {
  resize: vertical;
  min-height: 40vw;
}

.edit-button {
  padding: 3vw;
  font-size: 4vw;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button {
  background-color: #4e6bff;
  color: white;
}

.cancel-button {
  background-color: white;
  color: var(--font-color);
}

@media screen and (min-width: 768px) {
  .profile-header {
    flex-direction: row;
  }

  .left-part {
    max-width: 46%;
  }

  .profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .bio {
    -webkit-line-clamp: none;
    line-clamp: none;
    max-height: none;
    display: block;
  }

  .bio.expanded {
    max-height: none;
    -webkit-line-clamp: none;
    line-clamp: none;
  }

  .bio.normal {
    max-height: none;
    -webkit-line-clamp: none;
    line-clamp: none;
  }

  .read-more {
    display: none;
  }

  .profile-header > img {
    object-fit: cover;
    width: 20vw;
  }

  .biography {
    width: 88%;
  }

  .separation {
    width: 88%;
  }

  .separation2 {
    rotate: 90deg;
    width: 50%;
    margin-right: -44vw;
    margin-top: -5vw;
  }

  .right-part {
    max-width: 54%;
    max-height: 90vh;
  }

  .order-choice {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 54vw;
    padding-right: 3vw;
    padding-top: 2vw;
    gap: 4vw;
  }

  .profile-gallery {
    width: 90%;
    margin: 1vw;
    column-gap: 0.4vw;
    overflow-y: scroll;
  }

  .biography h3 {
    letter-spacing: 0.2vw;
  }

  .biography p {
    padding-top: 0.5vw;
  }

  .links {
    margin-top: 2vw;
  }

  .links > .list {
    padding-top: 0.5vw;
  }

  .profile-header-text > h1 {
    font-size: 2.4vw;
  }

  .profile-header-text {
    padding-left: 5vw;
  }

  .username-followers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0.5rem;
  }

  .clickable {
    padding: 0;
  }

  .left-part.editing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: none;
    padding: 0;
  }

  .edit-form {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.4vw;
    padding: 0.4vw;
  }

  .edit-form input,
  .edit-form textarea {
    padding: 0.8vw;
    font-size: 1vw;
    border-radius: 0.8vw;
    width: 100%;
    margin: 0;
  }

  .edit-form textarea {
    resize: vertical;
    min-height: 8vw;
  }

  .edit-button {
    font-size: 1vw;
    margin: 0;
    padding: 0;
  }
}
